@import url("https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  height: auto;
  color: #3de4e2;
}

header {
  width: 100%;
  height: 11.5vh;
  background: #fff;
  box-shadow: 0px 6px 64px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 6% 0 6%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
header nav > div {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
  gap: 10%;
}
header nav > div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-decoration: none;
  color: #2e2e2e;
  padding: 8px 12px 8px 12px;
  border: #2e2e2e 1px solid;
  border-radius: 12px;
  transition: 0.3s;
}
header nav > div a:hover {
  background: #12def7;
  color: #fff;
  border: none;
}
header nav > div a:nth-child(1) {
  background: #12def7;
  color: #fff;
}
header nav > div a:nth-child(1):hover {
  background: transparent;
  color: #2e2e2e;
  border: 1px solid #12def7;
}
header nav ul {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #2e2e2e;
  position: relative;
  font-weight: bold;
}
header nav ul li a::before {
  content: "";
  background-color: #2e2e2e;
  position: absolute;
  bottom: -2px;
  right: 50%;
  height: 2px;
  transition: 0.3s all;
  width: 0;
}
header nav ul li a::after {
  content: "";
  background-color: #2e2e2e;
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 2px;
  transition: 0.3s all;
  width: 0;
}
header nav ul li a:hover::after, header nav ul li a:hover::before {
  width: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  position: relative;
  gap: 5%;
}
footer div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
footer div:nth-child(1) hr {
  border: #2e2e2e 1px solid;
  height: 100%;
  opacity: 0.5;
  border-radius: 25px;
}
footer div:nth-child(2) ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
footer div:nth-child(2) ul li {
  width: 20%;
  list-style: none;
}
footer div:nth-child(2) ul li a {
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
  color: #2e2e2e;
  font-weight: bold;
  font-size: 1.3rem;
}
footer div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  flex-direction: row-reverse;
}
footer div:nth-child(3) img {
  height: 30px;
  cursor: pointer;
}
footer > img {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
}
footer > img::after {
  content: "";
  width: 700px;
  height: 700px;
  background: radial-gradient(rgba(8, 220, 253, 0.1882352941), transparent 70%);
  border-radius: 100%;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
}
footer > img:nth-child(5) {
  transform: scaleX(-1);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
main section {
  width: 50%;
  height: 100%;
  position: relative;
}
main section > div {
  background: linear-gradient(180deg, #02dcfe 0%, #7ce5d8 100%);
  border-radius: 201.188px;
  position: absolute;
}
main section > div:nth-child(1) {
  width: 42.1%;
  height: 83%;
  transform: rotate(-43.406deg);
  top: -3%;
}
main section > div:nth-child(2) {
  width: 19.5%;
  height: 41%;
  transform: rotate(-43.406deg);
  top: -20%;
  right: 50%;
  z-index: -1;
}
main section > div:nth-child(3) {
  width: 211px;
  height: 402px;
  transform: rotate(-135.131deg);
  left: -8%;
  bottom: -13%;
}
main section > div:nth-child(4) {
  width: 149px;
  height: 285px;
  transform: rotate(142.33deg);
  bottom: -12%;
  right: 35%;
}
main section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding: 0 10% 0 0;
}
main section:nth-child(2) h1 {
  font-size: 3.3rem;
}
main section:nth-child(2) p {
  font-size: 1.1rem;
}
main section:nth-child(2) p > a {
  color: #3de2ff;
}
main section:nth-child(2) form {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  transition: 0.3s;
  gap: 5%;
  position: relative;
}
main section:nth-child(2) form label {
  transition: 0.3s;
  color: #969696;
  position: absolute;
  font-size: 2.1rem;
  cursor: text;
}
main section:nth-child(2) form label:nth-child(3) {
  top: 48%;
}
main section:nth-child(2) form label:nth-child(1) {
  top: 24%;
}
main section:nth-child(2) form input {
  display: block;
  height: 16%;
  width: 70%;
  text-align: right;
  border: none;
  border-bottom: #969696 1px solid;
  font-size: 2.1rem;
  padding: 0 10px 0 10px;
  transition: 0.3s;
}
main section:nth-child(2) form input:focus {
  outline: none;
}
main section:nth-child(2) form button {
  width: 70%;
  height: 15%;
  border-radius: 20px;
  border: 3.529px solid #02dcfe;
  background: #fff;
  font-size: 27.318px;
  box-shadow: 0px 4.047px 25.092px 0px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
}
main section:nth-child(2) form button:hover {
  background-color: #02dcfe;
}
main section:nth-child(2) form p {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section:nth-child(2) form button:nth-child(5) {
  color: #0a9a8f;
  font-family: "GE Dinkum";
  font-size: 30px;
}
main section:nth-child(2) form button:nth-child(5):hover {
  color: aliceblue;
}/*# sourceMappingURL=style.css.map */