@use "../../../Global/CSS/global" as *;
main {
  & {
    @include flex(center, center);
    @include size(100%, 100vh);
  }
  section {
    & {
      @include size(50%, 100%);
      position: relative;
    }
    // التصميم يسار الصفحة
    > div {
      & {
        background: linear-gradient(180deg, #02dcfe 0%, #7ce5d8 100%);
        border-radius: 201.188px;
        position: absolute;
      }
      &:nth-child(1) {
        @include size(42.1%, 83%);
        transform: rotate(-43.406deg);
        top: -3%;
      }
      &:nth-child(2) {
        @include size(19.5%, 41%);
        transform: rotate(-43.406deg);
        top: -20%;
        right: 50%;
        z-index: -1;
      }
      &:nth-child(3) {
        @include size(211px, 402px);
        transform: rotate(-135.131deg);
        left: -8%;
        bottom: -13%;
      }
      &:nth-child(4) {
        @include size(149px, 285px);
        transform: rotate(142.33deg);
        bottom: -12%;
        right: 35%;
      }
    }
  }
  // نموذح تسجيل الدخول
  section:nth-child(2) {
    & {
      @include flex(center, end);
      flex-direction: column;
      padding: 0 10% 0 0;
    }
    h1 {
      font-size: 3.3rem;
    }
    p {
      & {
        font-size: 1.1rem;
      }
      > a {
        color: #3de2ff;
      }
    }
    // تنسيقات المدخلات inputs
    form {
      & {
        @include size(80%, 50%);
        @include flex(center, end);
        flex-direction: column;
        transition: 0.3s;
        gap: 5%;
        position: relative;
      }

      label {
        transition: 0.3s;
        color: #969696;
        position: absolute;
        font-size: 2.1rem;
        cursor: text;
      }
      label:nth-child(3) {
        top: 48%;
      }
      label:nth-child(1) {
        top: 24%;
      }
      input {
        & {
          display: block;
          height: 16%;
          width: 70%;
          text-align: right;
          border: none;
          border-bottom: #969696 1px solid;
          font-size: 2.1rem;
          padding: 0 10px 0 10px;
          transition: 0.3s;
        }

        &:focus {
          & {
            outline: none;
          }
        }
      }
      button {
        & {
          @include size(70%, 15%);
          border-radius: 20px;
          border: 3.529px solid #02dcfe;
          background: #fff;
          font-size: 27.318px;
          box-shadow: 0px 4.047px 25.092px 0px rgba(0, 0, 0, 0.25);
          transition: 0.3s;
          cursor: pointer;
        }
        &:hover {
          background-color: #02dcfe;
        }
      }
      p {
        width: 70%;
        @include flex(center, center);
      }
      button:nth-child(5) {
        & {
          color: #0a9a8f;
          font-family: "GE Dinkum";
          font-size: 30px;
        }
        &:hover{
          color: aliceblue;
        }
      }
    }
  }
}
