@import url("https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo;
}

// color of project
$text: #2e2e2e;
$Picton_blue: #3ed6ee;
$Turquaise: #3de4e2;
$Bright_turquaise: #60efcf;
$Mint_green: #8df8b7;
//يقوم بتلوين النص الى لونين
@mixin linear($dir, $firstColor, $SecondColor) {
  background-image: linear-gradient($dir, $firstColor, $SecondColor);
  -webkit-background-clip: text;
  color: transparent;
}
// يقوم بتنسيق الابناء بستخدام فليكس
@mixin flex($Position1, $Position2) {
  display: flex;
  justify-content: $Position1;
  align-items: $Position2;
}

// اعطاء طول وعرض للعنصر
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
html{
  overflow-x:hidden;
}
::-webkit-scrollbar{
  @include size(3px,auto);
  color: #3de4e2;

}
//  Header


header {
  & {
    @include size(100%, 11.5vh);
    background: #fff;
    box-shadow: 0px 6px 64px 0px rgba(0, 0, 0, 0.25);
    @include flex(right, center);
    padding: 0 6% 0 6%;
  }
  nav {
    & {
      @include flex(space-between, center);
      width: 90%;
    }
    // login and signup btn
    // ----------------------------------------
    > div {
      & {
        @include flex(start, center);
        width: 25%;
        gap: 10%;
      }
      a {
        @include flex(center,center );
        width: 40%;
        text-decoration: none;
        color: $text;
        padding: 8px 12px 8px 12px;
        border: $text 1px solid;
        border-radius: 45px;
        transition: 0.3s;
      }
      a:nth-child(1){
        background: #12DEF7;
        color: #fff;
      }
      a:nth-child(1):hover{
        
      }

    }
    // ----------------------------------------
    // pages
    // ----------------------------------------
    ul {
      & {
        width: 25%;
        @include flex(space-around, center);
      }
      li {
        & {
          list-style: none;
        }
        a {
          & {
            font-size: 1rem;
            cursor: pointer;
            text-decoration: none;
            color: $text;
            position: relative;
          }
          // ----------------------------------------
          // under line pages link
          // ----------------------------------------
          &::before {
            content: "";
            background-color: $text;
            position: absolute;
            bottom: -2px;
            right: 50%;
            height: 2px;
            transition: 0.3s all;
            width: 0;
          }
          &::after {
            content: "";
            background-color: $text;
            position: absolute;
            bottom: -2px;
            left: 50%;
            height: 2px;
            transition: 0.3s all;
            width: 0;
          }
          &:hover {
            &::after,
            &::before {
              width: 50%;
            }
          }
        }
        // ----------------------------------------
      }
    }
  }
}

// footer
