@use "../../../Global/CSS/global" as *;
main {
  & {
    @include size(100%, auto);
    @include flex(start, center);
    flex-direction: column;
    gap: 20vh;
  }
  // section1
  section:nth-child(1) {
    & {
      @include size(85%, 100vh);
      @include flex(end, start);
      position: relative;
    }
    > div {
      // الداائرة الكبيرة
      & {
        @include size(700px, 700px);
        background: linear-gradient(190deg, #83e5d6 19.69%, #08ddfd);
        border-radius: 100%;
        position: absolute;
        right: 78%;
        top: 37%;
        box-shadow: rgba(0, 0, 0, 0.255) 0px 30px 90px;
      }
      //   الدائرة الصغيرة
      &::after {
        content: "";
        @include size(20%, 20%);
        position: absolute;
        background: linear-gradient(16deg, #83e5d6 19.69%, #08ddfd);
        border-radius: 100%;
        top: -4.7%;
        right: 0;
        z-index: -1;
      }
      //   ظل ازرق خلف الدائرة الكبيرة
      &::before {
        content: "";
        @include size(700px, 700px);
        background-image: radial-gradient(#01ddff63, transparent 75%);
        bottom: 0%;
        left: 40%;
        position: absolute;
        z-index: -1;
      }
    }
    hgroup {
      & {
        @include size(40%, 85%);
        @include flex(center, end);
        flex-direction: column;
        text-align: right;
        gap: 10%;
      }
      h1 {
        & {
          @include size(85%, 10%);
          color: $text;
          font-size: 1.875rem;
          position: relative;
        }
        // الظل الازرق خلف النص
        &::before {
          content: "";
          @include size(350px, 350px);
          background-image: radial-gradient(#01ddff21, transparent 80%);
          bottom: -60%;
          left: 50%;
          position: absolute;
          z-index: -1;
        }
        span {
          @include linear(90deg, #2cd2be, #24d3ee);
        }
      }
      > a {
        & {
          @include size(189px, 6%);
          @include flex(center, center);
          border-radius: 45px;
          color: #fff;
          text-decoration: none;
          background: linear-gradient(98deg, #02dcfe 5.46%, #60efcf 87.87%);
          transition: 0.3s;
        }
        &:hover {
          transform: translate(0, -10px);
        }
      }
    }
  }
  // section2
  section:nth-child(2) {
    & {
      @include flex(start, center);
      flex-direction: column;
      text-align: center;
      position: relative;
    }
    // تصميم الدائرة التي في الجانب الايسر
    span {
      & {
        @include size(181px, 181px);
        background: linear-gradient(0deg, #83e5d6 19.69%, #08ddfd);
        border-radius: 100%;
        position: absolute;
        right: -8%;
        top: -3%;
        box-shadow: rgba(0, 0, 0, 0.218) 0px 30px 90px;
      }
      // لمعه زبرقاء
      &::after {
        content: "";
        @include size(700px, 700px);
        background: radial-gradient(#08dcfd30, transparent 70%);
        border-radius: 100%;
        position: absolute;
        right: -140%;
        top: -135%;
        z-index: 1;
      }
    }
    div {
      & {
        @include flex(space-between, center);
        @include size(85%,50vh)
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
      hgroup {
        & {
          text-align: right;
          width: 40%;
        }

        h3 {
          & {
            font-size: 1.9rem;
            position: relative;
          }
          // لمعه زبرقاء
          &::after {
            content: "";
            @include size(700px, 700px);
            background: radial-gradient(#08dcfd18, transparent 70%);
            position: absolute;
            right: 0%;
            top: -500%;
            left: 0%;
            z-index: 1;
          }
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
  // section3
  section:nth-child(3) {
    & {
      @include size(85%, 60vh);
      @include flex(center, center);
      flex-direction: column;
      gap: 20%;
    }
    hgroup:nth-child(1) {
      text-align: center;
      font-size: 1.5rem;
    }
    form {
      & {
        @include flex(center, center);
        @include size(100%, 12%);
      }
      input {
        & {
          @include size(100%, 100%);
          position: relative;
          border: #222 1px solid;
          border-left: none;
          text-align: right;
          font-size: 1.5rem;
          padding: 0 1% 0 0;
          border-radius: 0 15px 15px 0;
          box-shadow: 0px 0px 26.105px 0px rgba(0, 0, 0, 0.13);
        }
        // لمعه زرقاء بجانب الانبوت
        &::after {
          content: "";
          @include size(50%, 50vh);
          position: absolute;
          background: radial-gradient(#08dcfd4b, transparent 70%);
          left: 0;
          bottom: 0;
        }
        &:focus {
          outline: none;
        }
      }
      button {
        & {
          @include flex(center, center);
          @include size(4%, 100%);
          background: none;
          border: #222 1px solid;
          border-right: none;
          cursor: pointer;
          border-radius: 15px 0 0 15px;
          box-shadow: 0px 0px 26.105px 0px rgba(0, 0, 0, 0.13);
        }
        img {
          height: 50%;
          transform: rotate(180deg);
        }
      }
    }
    // القسم الثالث
    div:nth-child(3) {
      & {
        @include flex(space-between, center);
        width: 100%;
      }
      button {
        font-size: 1.6rem;
        background: #f3f3f3;
        border-radius: 16px;
        border: none;
        filter: drop-shadow(0px 1px 2.9px rgba(0, 0, 0, 0.641));
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }
}
