@import url("https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  height: auto;
  color: #3de4e2;
}

header {
  width: 100%;
  height: 11.5vh;
  background: #fff;
  box-shadow: 0px 6px 64px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 6% 0 6%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
header nav > div {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
  gap: 10%;
}
header nav > div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-decoration: none;
  color: #2e2e2e;
  padding: 8px 12px 8px 12px;
  border: #2e2e2e 1px solid;
  border-radius: 12px;
  transition: 0.3s;
}
header nav > div a:hover {
  background: #12def7;
  color: #fff;
  border: none;
}
header nav > div a:nth-child(1) {
  background: #12def7;
  color: #fff;
}
header nav > div a:nth-child(1):hover {
  background: transparent;
  color: #2e2e2e;
  border: 1px solid #12def7;
}
header nav ul {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #2e2e2e;
  position: relative;
  font-weight: bold;
}
header nav ul li a::before {
  content: "";
  background-color: #2e2e2e;
  position: absolute;
  bottom: -2px;
  right: 50%;
  height: 2px;
  transition: 0.3s all;
  width: 0;
}
header nav ul li a::after {
  content: "";
  background-color: #2e2e2e;
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 2px;
  transition: 0.3s all;
  width: 0;
}
header nav ul li a:hover::after, header nav ul li a:hover::before {
  width: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  position: relative;
  gap: 5%;
}
footer div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
footer div:nth-child(1) hr {
  border: #2e2e2e 1px solid;
  height: 100%;
  opacity: 0.5;
  border-radius: 25px;
}
footer div:nth-child(2) ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
footer div:nth-child(2) ul li {
  width: 20%;
  list-style: none;
}
footer div:nth-child(2) ul li a {
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
  color: #2e2e2e;
  font-weight: bold;
  font-size: 1.3rem;
}
footer div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  flex-direction: row-reverse;
}
footer div:nth-child(3) img {
  height: 30px;
  cursor: pointer;
}
footer > img {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
}
footer > img::after {
  content: "";
  width: 700px;
  height: 700px;
  background: radial-gradient(rgba(8, 220, 253, 0.1882352941), transparent 70%);
  border-radius: 100%;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
}
footer > img:nth-child(5) {
  transform: scaleX(-1);
}

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20vh;
}
main section:nth-child(1) {
  width: 87%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: start;
  position: relative;
}
main section:nth-child(1) > div {
  width: 700px;
  height: 700px;
  background: linear-gradient(190deg, #83e5d6 19.69%, #08ddfd);
  border-radius: 100%;
  position: absolute;
  right: 78%;
  top: 37%;
  box-shadow: rgba(0, 0, 0, 0.255) 0px 30px 90px;
}
main section:nth-child(1) > div::after {
  content: "";
  width: 20%;
  height: 20%;
  position: absolute;
  background: linear-gradient(16deg, #83e5d6 19.69%, #08ddfd);
  border-radius: 100%;
  top: -4.7%;
  right: 0;
  z-index: -1;
}
main section:nth-child(1) > div::before {
  content: "";
  width: 700px;
  height: 700px;
  background-image: radial-gradient(rgba(1, 221, 255, 0.3882352941), transparent 75%);
  bottom: 0%;
  left: 40%;
  position: absolute;
  z-index: -1;
}
main section:nth-child(1) hgroup {
  width: 40%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  text-align: right;
  gap: 10%;
}
main section:nth-child(1) hgroup h1 {
  width: 85%;
  height: 10%;
  color: #2e2e2e;
  font-size: 1.875rem;
  position: relative;
}
main section:nth-child(1) hgroup h1::before {
  content: "";
  width: 350px;
  height: 350px;
  background-image: radial-gradient(rgba(1, 221, 255, 0.1294117647), transparent 80%);
  bottom: -60%;
  left: 50%;
  position: absolute;
  z-index: -1;
}
main section:nth-child(1) hgroup h1 span {
  background-image: linear-gradient(90deg, #2cd2be, #24d3ee);
  -webkit-background-clip: text;
  color: transparent;
}
main section:nth-child(1) hgroup > a {
  width: 189px;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(98deg, #02dcfe 5.46%, #60efcf 87.87%);
  transition: 0.3s;
}
main section:nth-child(1) hgroup > a:hover {
  transform: translate(0, -10px);
}
main section:nth-child(2) {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
main section:nth-child(2) span {
  width: 181px;
  height: 181px;
  background: linear-gradient(0deg, #83e5d6 19.69%, #08ddfd);
  border-radius: 100%;
  position: absolute;
  right: -8%;
  top: -3%;
  box-shadow: rgba(0, 0, 0, 0.218) 0px 30px 90px;
}
main section:nth-child(2) span::after {
  content: "";
  width: 700px;
  height: 700px;
  background: radial-gradient(rgba(8, 220, 253, 0.1882352941), transparent 70%);
  border-radius: 100%;
  position: absolute;
  right: -140%;
  top: -135%;
  z-index: 1;
}
main section:nth-child(2) div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50vh;
}
main section:nth-child(2) div:nth-child(even) {
  flex-direction: row-reverse;
}
main section:nth-child(2) div hgroup {
  text-align: right;
  width: 40%;
}
main section:nth-child(2) div hgroup h3 {
  font-size: 1.9rem;
  position: relative;
}
main section:nth-child(2) div hgroup h3::after {
  content: "";
  width: 700px;
  height: 700px;
  background: radial-gradient(rgba(8, 220, 253, 0.0941176471), transparent 70%);
  position: absolute;
  right: 0%;
  top: -500%;
  left: 0%;
  z-index: 1;
}
main section:nth-child(2) div hgroup p {
  font-size: 1.1rem;
}
main section:nth-child(3) {
  width: 87%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20%;
}
main section:nth-child(3) hgroup:nth-child(1) {
  text-align: center;
  font-size: 1.5rem;
}
main section:nth-child(3) form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12%;
}
main section:nth-child(3) form input {
  width: 100%;
  height: 100%;
  position: relative;
  border: #222 1px solid;
  border-left: none;
  text-align: right;
  font-size: 1.5rem;
  padding: 0 1% 0 0;
  border-radius: 0 15px 15px 0;
  box-shadow: 0px 0px 26.105px 0px rgba(0, 0, 0, 0.13);
}
main section:nth-child(3) form input::after {
  content: "";
  width: 50%;
  height: 50vh;
  position: absolute;
  background: radial-gradient(rgba(8, 220, 253, 0.2941176471), transparent 70%);
  left: 0;
  bottom: 0;
}
main section:nth-child(3) form input:focus {
  outline: none;
}
main section:nth-child(3) form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4%;
  height: 100%;
  background: none;
  border: #222 1px solid;
  border-right: none;
  cursor: pointer;
  border-radius: 15px 0 0 15px;
  box-shadow: 0px 0px 26.105px 0px rgba(0, 0, 0, 0.13);
}
main section:nth-child(3) form button img {
  height: 50%;
  transform: rotate(180deg);
}
main section:nth-child(3) hgroup:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 7%;
  text-align: center;
  font-size: 1.65rem;
}
main section:nth-child(3) hgroup:nth-child(3) button {
  width: 33%;
  font-size: 1.6rem;
  background: #f3f3f3;
  border-radius: 16px;
  border: none;
  filter: drop-shadow(0px 1px 2.9px rgba(0, 0, 0, 0.25));
  padding: 5px;
  white-space: nowrap;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */