@import url("https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  height: auto;
  color: #3de4e2;
}

header {
  width: 100%;
  height: 11.5vh;
  background: #fff;
  box-shadow: 0px 6px 64px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 6% 0 6%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
header nav > div {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
  gap: 10%;
}
header nav > div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-decoration: none;
  color: #2e2e2e;
  padding: 8px 12px 8px 12px;
  border: #2e2e2e 1px solid;
  border-radius: 12px;
  transition: 0.3s;
}
header nav > div a:hover {
  background: #12def7;
  color: #fff;
  border: none;
}
header nav > div a:nth-child(1) {
  background: #12def7;
  color: #fff;
}
header nav > div a:nth-child(1):hover {
  background: transparent;
  color: #2e2e2e;
  border: 1px solid #12def7;
}
header nav ul {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #2e2e2e;
  position: relative;
  font-weight: bold;
}
header nav ul li a::before {
  content: "";
  background-color: #2e2e2e;
  position: absolute;
  bottom: -2px;
  right: 50%;
  height: 2px;
  transition: 0.3s all;
  width: 0;
}
header nav ul li a::after {
  content: "";
  background-color: #2e2e2e;
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 2px;
  transition: 0.3s all;
  width: 0;
}
header nav ul li a:hover::after, header nav ul li a:hover::before {
  width: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  position: relative;
  gap: 5%;
}
footer div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
footer div:nth-child(1) hr {
  border: #2e2e2e 1px solid;
  height: 100%;
  opacity: 0.5;
  border-radius: 25px;
}
footer div:nth-child(2) ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
footer div:nth-child(2) ul li {
  width: 20%;
  list-style: none;
}
footer div:nth-child(2) ul li a {
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
  color: #2e2e2e;
  font-weight: bold;
  font-size: 1.3rem;
}
footer div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  flex-direction: row-reverse;
}
footer div:nth-child(3) img {
  height: 30px;
  cursor: pointer;
}
footer > img {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
}
footer > img::after {
  content: "";
  width: 700px;
  height: 700px;
  background: radial-gradient(rgba(8, 220, 253, 0.1882352941), transparent 70%);
  border-radius: 100%;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
}
footer > img:nth-child(5) {
  transform: scaleX(-1);
}

html {
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #3a3a3a;
  direction: rtl;
  padding: 5% 0 5% 0;
}
main section h1 {
  color: aliceblue;
  font-size: 3.75rem;
  background: linear-gradient(265deg, #61d9ff -85.46%, #fff 49.5%, #7ce5d8 150%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main section form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
main section form input {
  width: 80%;
  height: 100%;
  position: relative;
  border: #222 1px solid;
  border-left: none;
  text-align: right;
  font-size: 1.5rem;
  padding: 0 1% 0 0;
  border-radius: 0 16px 16px 0;
  background: rgba(255, 255, 255, 0.2705882353);
  box-shadow: 0px 0px 17.919px 0px rgba(0, 0, 0, 0.1);
}
main section form input::-moz-placeholder {
  color: aliceblue;
}
main section form input::placeholder {
  color: aliceblue;
}
main section form input::after {
  content: "";
  width: 50%;
  height: 50vh;
  position: absolute;
  background: radial-gradient(rgba(8, 220, 253, 0.2941176471), transparent 70%);
  left: 0;
  bottom: 0;
}
main section form input:focus {
  outline: none;
}
main section form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2705882353);
  border: #222 1px solid;
  border-right: none;
  cursor: pointer;
  border-radius: 15px 0 0 15px;
  box-shadow: 0px 0px 26.105px 0px rgba(0, 0, 0, 0.13);
}
main section form button img {
  height: 40%;
  transform: rotate(180deg);
}
main aside {
  width: 20%;
  height: 100%;
  background: #232323;
}
main aside div:nth-child(1) {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10%;
  flex-direction: column;
  border-bottom: #888 1px solid;
  gap: 5%;
}
main aside div:nth-child(1) button {
  width: 90%;
  height: 11.7%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5%;
  gap: 5%;
  font-size: 1.2rem;
  border-radius: 7.875px;
  border: 1.125px solid #888;
  background: #232323;
  color: #ececec;
  font-weight: 500;
  cursor: pointer;
}
main aside div:nth-child(1) button span {
  font-size: 2rem;
  background-image: linear-gradient(180deg, #1ddff6, #7be6d9);
  -webkit-background-clip: text;
  color: transparent;
}
main aside div:nth-child(2) {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 10%;
  flex-direction: column;
  gap: 5%;
}
main aside div:nth-child(2) button {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80%;
  height: 30%;
  gap: 10%;
  background: none;
  border: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 1.1em;
  position: relative;
}/*# sourceMappingURL=style.css.map */